<div id="privacy" class="content">
  <div class="content-section content-section-alternate">
    <div class="container">
      <h3>Privacy Policy</h3>
      <p>
        Protecting your private information is our priority. This Statement of
        Privacy applies to the http://www.brunche.com and Brunche Sdn Bhd. and governs data collection and usage. For the purposes of this
        Privacy Policy, unless otherwise noted, all references to Brunche
        include http://www.brunche.com and Brunche Sdn Bhd. The
        Brunche website is a restaurant food delivery site. By using the
        Brunche website, you consent to the data practices described in this
        statement.
      </p>

      <h4 class="privacy-subheader">Collection of your Personal Information</h4>
      <p>
        Brunche may collect personally identifiable information, such as your
        name. If you purchase Brunche's products and services, we collect
        address, billing and credit card information. This information is used
        to complete the purchase transaction. We may gather additional personal
        or non-personal information in the future.
      </p>
      <p>
        Information about your computer hardware and software may be
        automatically collected by Brunche. This information can include: your
        IP address, browser type, domain names, access times and referring
        website addresses. This information is used for the operation of the
        service, to maintain quality of the service, and to provide general
        statistics regarding use of the Brunche website.
      </p>
      <p>
        Brunche encourages you to review the privacy statements of websites
        you choose to link to from Brunche so that you can understand how those
        websites collect, use and share your information. Brunche is not
        responsible for the privacy statements or other content on websites
        outside of the Brunche website.
      </p>

      <h4 class="privacy-subheader">Use of your Personal Information</h4>
      <p>
        Brunche collects and uses your personal information to operate its
        website(s) and deliver the services you have requested.
      </p>
      <p>
        Brunche may also use your personally identifiable information to
        inform you of other products or services available from Brunche and
        its affiliates. Brunche may also contact you via surveys to conduct
        research about your opinion of current services or of potential new
        services that may be offered.
      </p>
      <p>
        Brunche does not sell, rent or lease its customer lists to third
        parties.
      </p>
      <p>
        Brunche may share data with trusted partners to help perform
        statistical analysis, send you email or postal mail, provide customer
        support, or arrange for deliveries. All such third parties are
        prohibited from using your personal information except to provide
        these services to Brunche, and they are required to maintain the
        confidentiality of your information.
      </p>
      <p>
        Brunche may keep track of the websites and pages our users visit
        within Brunche, in order to determine what Brunche services are the
        most popular. This data is used to deliver customized content and
        advertising within Brunche to customers whose behavior indicates that
        they are interested in a particular subject area.
      </p>
      <p>
        Brunche will disclose your personal information, without notice, only
        if required to do so by law or in the good faith belief that such
        action is necessary to: (a) conform to the edicts of the law or comply
        with legal process served on Brunche or the site; (b) protect and
        defend the rights or property of Brunche; and, (c) act under exigent
        circumstances to protect the personal safety of users of Brunche, or
        the public.
      </p>

      <h4 class="privacy-subheader">Use of Cookies</h4>
      <p>
        The Brunche website may use "cookies" to help you personalize your
        online experience. A cookie is a text file that is placed on your hard
        disk by a web page server. Cookies cannot be used to run programs or
        deliver viruses to your computer. Cookies are uniquely assigned to you,
        and can only be read by a web server in the domain that issued the
        cookie to you.
      </p>
      <p>
        One of the primary purposes of cookies is to provide a convenience
        feature to save you time. The purpose of a cookie is to tell the Web
        server that you have returned to a specific page. For example, if you
        personalize Brunche pages, or register with Brunche site or services,
        a cookie helps Brunche to recall your specific information on
        subsequent visits. This simplifies the process of recording your
        personal information, such as billing addresses, shipping addresses,
        and so on. When you return to the same Brunche website, the
        information you previously provided can be retrieved, so you can easily
        use the Brunche features that you customized.
      </p>
      <p>
        You have the ability to accept or decline cookies. Most Web browsers
        automatically accept cookies, but you can usually modify your browser
        setting to decline cookies if you prefer. If you choose to decline
        cookies, you may not be able to fully experience the interactive
        features of the Brunche services or websites you visit.
      </p>

      <h4 class="privacy-subheader">Security of your Personal Information</h4>
      <p>
        Your personal information is extremely important to us. Brunche
        secures your personal information from unauthorized access, use or
        disclosure. When personal information (such as a credit card number) is
        transmitted to other websites, it is protected through the use of
        encryption, such as the Secure Sockets Layer (SSL) protocol. Although
        we try our best to protect your information, we cannot completely
        eliminate security risks associated with personal information.
      </p>

      <h4 class="privacy-subheader">Children Under Thirteen</h4>
      <p>
        Brunche does not knowingly collect personally identifiable information
        from children under the age of thirteen. If you are under the age of
        thirteen, you must ask your parent or guardian for permission to use
        this website.
      </p>

      <h4 class="privacy-subheader">Opt-Out & Unsubscribe</h4>
      <p>
        We respect your privacy and give you an opportunity to opt-out of
        receiving announcements of certain information. Users may opt-out of
        receiving any or all communications from Brunche by contacting us at 
        <a href="http://www.brunche.com/pages/contact">
        http://www.brunche.com/pages/contact</a>.
      </p>

      <h4 class="privacy-subheader">Changes to this Statement</h4>
      <p>
        Brunche will occasionally update this Statement of Privacy to reflect
        company and customer feedback. Brunche encourages you to periodically
        review this Statement to be informed of how Brunche is protecting your
        information.
      </p>

      <h4 class="privacy-subheader">Contact Information</h4>
      <p>
        Brunche welcomes your questions or comments regarding this Statement
        of Privacy. If you believe that Brunche has not adhered to this
        Statement, please contact Brunche at:
      </p>

      <address>
          <strong>Brunche Sdn Bhd</strong><br/>
          No. 1-2-1B, 2nd Floor, Block B,<br/>
          Kolam Centre Phase II, Jalan Lintas, Luyang,<br/>
          88300 Kota Kinabalu, Sabah.
      </address>

          <p>Email Address: support@brunche.com</p>

          <p>Telephone Number: +60 13 881-0882</p>

          <p>Effective as of July 1, 2014</p>

    </div>
  </div>
</div>
