@import "bootstrap";

body {
	background-color: #e6e6e6;
	color: #333333;
	font-family: Arial, Helvetica, Sans-serif;
}

.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #E45C1E;
	border-color: #E45c1E;
	border-radius: 0px;
	margin-bottom: 20px;
}

.navbar-default .navbar-brand {
	font-family: guardian-eqyptt, georgia, serif;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.center {
	text-align: center;
}

h2 {
	font-size: 32px;
	margin-top: 30px;
}
.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 16px;}
}

.caption {
	h3 {
	font-size: 17px;
	margin: 2px;
	}
	p {
	font-size: 15px;
	margin: 0px;
	}
}

.container {
	max-width: 970px;
}

.container .jumbotron {
	background-image: url('https://dl.dropboxusercontent.com/s/xkdr8nxtg8rj5ac/jumbotron.jpg');
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
	border-radius: 6px;
	h1, p {
        font-family: guardian-egyptt, georgia, serif;
		color: #ffffff;
		}
}

.footer {
	background-color: #e6e6e6;
}

.pull-left {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pull-right {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}

.red {
	color: #E74C3C;
}

.home-button {
	font-size: 18px;
}

hr {
	border-color: #E74C3C;
	width: 152px;
	margin-top: 5px;
	margin-bottom: 10px;

}

.alert {
	border-radius: 6px;
}

.delivery-time {
    background-color: #5bc0de;
	border: 1px solid #46b8da;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	p {
		font-size: 24px;
		margin-top: 12px;
		color: #ffffff;
	}
}

.thumbnail {
	padding: 0px;
	border: 1px solid #cecece;
	border-radius: 0px;
}

.content-container {
	background-color: #ffffff;
	padding-bottom: 30px;
}


div.cart {
	background: #fff9d9;
	padding: 12px;
	font-size: 15px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #aaa;
	-webkit-box-shadow: 0px 1px 2px #aaa;
	-moz-box-shadow: 0px 1px 2px #aaa;
	box-shadow: 0px 1px 2px #aaa;
}

div.cart div.title {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 5px;
	
}

div.cart div.cart-total {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #bbb;
}

div.cart div.cart-total div.number {
	float: right;
}

div.cart div.cart-row div.item-price {
float: right;
}

div.cart div.sub-title {
margin-top: 15px;
font-weight: bold;
}

.date-time {
	border: 1px solid #e4cd92;
	padding: 15px;
	margin-bottom: 20px;
	background: #FFFEEA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.message {
	font-size: 17px;
	font-weight: bold;
	color: #c30;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #999;
}

.sub-message {
	color: #333;
	font-size: 13px;
}

.control-group {
p {
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
	color: #777777;
}
}

.col-sm-6 {
width: 100%;
padding-left: 0px;
padding-right: 0px;
}

.restaurant-info {
	margin-bottom: 30px;
	border-bottom: 2px solid #333333;
	h1 {
	margin-bottom: 0px;
	}
	p {
	margin-bottom: 10px;
	}
}

.col-md-8 {
	padding-left: 0px;
}

.col-md-4 {
	padding-left: 0px;
	padding-right: 20px;
}
